:root {
  --resium-view-cube-stroke-color: #646d79;
  --resium-view-cube-fill-color: #bbc5cfdd;
  --resium-view-cube-edge-color: #99a8c0dd;
  --resium-view-cube-hover-color: #62789bdd;
  --resium-view-cube-hover-border-color: #e9c664;
  --resium-view-cube-quarter-length: 25px;
  --resium-view-cube-quarter-length-reverse: -25px;
  --resium-view-cube-edge-height: 10px;
  --resium-view-cube-edge-half-height: 5px;
  --resium-view-cube-edge-half-height-reverse: -5px;
}

:host * {
  box-sizing: content-box;
}

#wrapper {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 10px;
  right: 10px;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  user-select: none;
}

#cube {
  width: 50%;
  height: 50%;
  top: 25%;
  transform-style: preserve-3d;
  margin: auto;
  position: relative;
  will-change: transform;
}

#cube>.side {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--resium-view-cube-stroke-color);
  background-color: var(--resium-view-cube-fill-color);
  border: 1px solid var(--resium-view-cube-stroke-color);
}

#cube>.side>div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60%;
  height: 60%;
}

#cube>.side>div:hover {
  background-color: var(--resium-view-cube-hover-color);
  border: 2px solid var(--resium-view-cube-hover-border-color);
}

#side_t {
  transform: rotateX(90deg) translateZ(var(--resium-view-cube-quarter-length));
}

#side_w {
  transform: rotateY(-90deg) translateZ(var(--resium-view-cube-quarter-length));
}

#side_s {
  transform: translateZ(var(--resium-view-cube-quarter-length));
}

#side_e {
  transform: rotateY(90deg) translateZ(var(--resium-view-cube-quarter-length));
}

#side_n {
  transform: rotateY(180deg) translateZ(var(--resium-view-cube-quarter-length));
}

#side_b {
  transform: rotateX(-90deg) translateZ(var(--resium-view-cube-quarter-length));
}

#cube>.edge {
  position: absolute;
  width: 60%;
  transform-style: preserve-3d;
  margin: auto;
  position: relative;
  will-change: transform;
}

#cube>.edge>div {
  position: absolute;
  width: 100%;
  height: var(--resium-view-cube-edge-height);
  background-color: var(--resium-view-cube-edge-color);
}

#cube>.edge:has(:hover)>div {
  background-color: var(--resium-view-cube-hover-color);
  border: 2px solid var(--resium-view-cube-hover-border-color);
}

#cube>.edge>div:first-child {
  transform: rotateX(90deg) translateY(var(--resium-view-cube-edge-half-height-reverse)) translateZ(var(--resium-view-cube-edge-half-height));
}

#edge_tw {
  transform: translateX(var(--resium-view-cube-quarter-length-reverse)) rotateY(-90deg);
  top: 0;
}

#edge_ts {
  transform: translateZ(var(--resium-view-cube-quarter-length));
  top: 0;
}

#edge_te {
  transform: translateX(var(--resium-view-cube-quarter-length)) rotateY(90deg);
  top: 0;
}

#edge_tn {
  transform: translateZ(var(--resium-view-cube-quarter-length-reverse)) rotateY(180deg);
  top: 0;
}

#edge_ws {
  transform: translateX(var(--resium-view-cube-quarter-length-reverse)) translateY(var(--resium-view-cube-quarter-length)) translateZ(var(--resium-view-cube-quarter-length)) rotateZ(-90deg);
  top: 0;
}

#edge_se {
  transform: translateX(var(--resium-view-cube-quarter-length)) translateY(var(--resium-view-cube-quarter-length)) translateZ(var(--resium-view-cube-quarter-length)) rotateZ(90deg);
  top: 0;
}

#edge_en {
  transform: translateX(var(--resium-view-cube-quarter-length)) translateY(var(--resium-view-cube-quarter-length)) translateZ(var(--resium-view-cube-quarter-length-reverse)) rotateX(90deg) rotateY(90deg);
  top: 0;
}

#edge_nw {
  transform: translateX(var(--resium-view-cube-quarter-length-reverse)) translateY(var(--resium-view-cube-quarter-length)) translateZ(var(--resium-view-cube-quarter-length-reverse)) rotateZ(90deg) rotateX(180deg);
  top: 0;
}